<div class="t-grid-wrapper">
    <table class="t-grid-table">
        <thead>
            <tr>
                <th *ngFor="let entry of entries" (click)="entry.sortable && onSort(entry.property)" [class]="entry.sortable ? 'header-sortable' : ''">
                    <div class="header-content">
                        <div>{{ entry.title }}</div>
                        <div class="sorting-arrows" *ngIf="entry.sortable"><span [class]="isSortActive(entry.property, 0) ? 'active-sort' : ''">▲</span><span [class]="isSortActive(entry.property, 1) ? 'active-sort' : ''">▼</span></div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getDataToDisplay()">
                <td *ngFor="let entry of entries" [title]="item[entry.property]">
                    {{ item[entry.property] }}
                </td>
            </tr>
        </tbody>
    </table>
    <t-pagination [data]="data" [pageSize]="pageSize" [pageNumber]="pageNumber" (pageSizeChange)="onPageSizeChange($event)" (pageNumberChange)="onPageNumberChange($event)"></t-pagination>
</div>