.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-wrapper > div {
    flex: 1 1;
}

#grid-wrapper {
    overflow: auto;
}

#progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}