<div class="app-wrapper">
  <div id="grid-wrapper">
    <t-grid [data]="data" (sortChange)="onSortChange($event)" pageSize="25" (pageSizeChange)="onPageSizeChange($event)" (pageNumberChange)="onPageNumberChange($event)">
      <t-entry
        *ngFor="let entryProps of gridEntryProps"
        [title]="entryProps.title"
        [property]="entryProps.property"
        [sortable]="entryProps.sortable"
      >
      </t-entry>
    </t-grid>
  </div>
  <div id="progress-wrapper">
    <div id="progress-controls">
      <div class="progress-selector">
        <div class="selector-title">Change Progress</div>
        <button class="progress-btn" (click)="changeProgress(0)">0</button>
        <button class="progress-btn" (click)="changeProgress(25)">25</button>
        <button class="progress-btn" (click)="changeProgress(50)">50</button>
        <button class="progress-btn" (click)="changeProgress(75)">75</button>
        <button class="progress-btn" (click)="changeProgress(100)">100</button>

      </div>
      <div class="radius-selector">
        <div class="selector-title">Change Radius</div>
        <input id="radius-control" type="range" min="50" max="200" value="50" (input)="changeRadius($event)"/>
      </div>
      <div class="color-change">
        <div class="selector-title">Change Color</div>
        <div id="color-change-controls">
          <input id="color-input" type="text" placeholder="#008000" value="#008000" />
          <button (click)="changeColor()">Change</button>
        </div>
      </div>
    </div>
    <t-progress [radius]="radius" [progress]="progress" [color]="color" (complete)="onComplete()"></t-progress>
    
  </div>
</div>
