<div *ngIf="!!pageSize" class="t-grid-pagination">
    <div class="page-selector"><< < <span *ngFor="let page of getPages()" (click)="onPageNumberChange(page)">{{page + 1}} </span> > >></div>
    <div class="shown-items">
        View
        <select id="page-size" (change)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [value]="size" [selected]="pageSize === size.toString()">{{size}}</option>
        </select>
        items per page
    </div>
    <div class="items-number">{{firstItemShown}}-{{lastItemShown}} out of {{data.length}} items</div>
</div>
