<div *ngIf="!!pageSize" class="t-grid-pagination">
    <ul class="page-selector">
        <li><span class="arrow" (click)="selectFirstPage()">≪</span></li>
        <li><span class="arrow" (click)="selectPreviousPage()"><</span></li>
        <li><span *ngFor="let page of getPages()" (click)="onPageNumberChange(page)" [class]="'page ' + getSelectedPageClass(page)">{{page + 1}}</span></li>
        <li><span class="arrow" (click)="selectNextPage()">></span></li>
        <li><span class="arrow" (click)="selectLastPage()">≫</span></li>
    </ul>
    <div class="shown-items">
        View
        <select id="page-size" (change)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [value]="size" [selected]="pageSize === size.toString()">{{size}}</option>
        </select>
        items per page
    </div>
    <div class="items-number">{{firstItemShown}}-{{lastItemShown}} out of {{data.length}} items</div>
</div>
